*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2px;
    overflow: hidden;
    background-color: black;
}
section:hover .anime{
    
}
.box{
    width: 50px;
    height: 50px;
    background-color:black;
}
.anime{
    animation: color 2s linear infinite;
}
 @keyframes color {
    0%{
        filter: hue-rotate(0);
    }
    50%{
        background-color: red;
    }
    100%{
        filter: hue-rotate(360deg);
    }
 }